flow.json
[{"id":"50896b44.fe0db4","type":"tab","label":"Radar","disabled":false,"info":""},{"id":"ffb2504d.e8d94","type":"tab","label":"Sistema","disabled":false,"info":""},{"id":"4bb65ed0.821b1","type":"tab","label":"Motores","disabled":false,"info":""},{"id":"8ba99e86.6869e","type":"tab","label":"Configuraciones","disabled":false,"info":""},{"id":"44bfb592.46188c","type":"ui_tab","z":"","name":"Autónomo","icon":"dashboard","disabled":false,"hidden":false},{"id":"5276cd55.81f1dc","type":"ui_group","z":"","name":"Setup","tab":"44bfb592.46188c","disp":true,"width":"6","collapse":false},{"id":"d44159a6.891fb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IoT Car","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8e519d78.640be","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cc6c21f5.20601","type":"ui_group","z":"","name":"WiFi","tab":"cc970ea.0f13df","order":2,"disp":true,"width":"6","collapse":true},{"id":"cc970ea.0f13df","type":"ui_tab","z":"","name":"Sistema","icon":"dashboard","disabled":false,"hidden":false},{"id":"c13e24ef.66c1b","type":"ui_slider","z":"50896b44.fe0db4","name":"","label":"Volante","tooltip":"","group":"5276cd55.81f1dc","order":7,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"0","max":"100","step":"0.5","x":140,"y":40,"wires":[["8fc7b31.ae364d"]]},{"id":"b87b2cd4.07ba","type":"pi-gpiod out","z":"50896b44.fe0db4","name":"Volante","host":"localhost","port":8888,"pin":"11","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":1040,"y":40,"wires":[]},{"id":"cc1490de.c0d77","type":"rpi-srf","z":"50896b44.fe0db4","name":"","topic":"SRF","pulse":"0.06","pins":"31,29","x":90,"y":180,"wires":[["eb8cc81c.cd0038"]]},{"id":"8fc7b31.ae364d","type":"range","z":"50896b44.fe0db4","minin":"0","maxin":"100","minout":"70","maxout":"35","action":"clamp","round":true,"property":"payload","name":"","x":720,"y":40,"wires":[["b87b2cd4.07ba"]]},{"id":"26399dea.e1c72a","type":"pi-gpiod out","z":"50896b44.fe0db4","name":"Sensor","host":"localhost","port":8888,"pin":"10","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":940,"y":420,"wires":[]},{"id":"328fa9c9.56fa86","type":"ui_slider","z":"50896b44.fe0db4","name":"","label":"Sensor","tooltip":"","group":"5276cd55.81f1dc","order":6,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":"20","max":"65","step":"0.5","x":100,"y":420,"wires":[["26399dea.e1c72a"]]},{"id":"6c671ebf.20bfb8","type":"inject","z":"ffb2504d.e8d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["753503e.0cfa1fc"]]},{"id":"753503e.0cfa1fc","type":"exec","z":"ffb2504d.e8d94","command":"sudo pigpiod","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":290,"y":100,"wires":[["ff380ffc.1e3db8"],["ff380ffc.1e3db8"],["ff380ffc.1e3db8"]]},{"id":"ff380ffc.1e3db8","type":"debug","z":"ffb2504d.e8d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":100,"wires":[]},{"id":"1c97792b.dc992f","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["ce85ac1a.5195b"]]},{"id":"983d2256.d9a3d","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["ce85ac1a.5195b"]]},{"id":"df7119da.7b51e8","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["3963a3ef.28a084"]]},{"id":"cf405d2b.beda88","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["3963a3ef.28a084"]]},{"id":"3963a3ef.28a084","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"","host":"localhost","port":8888,"pin":"22","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":400,"y":260,"wires":[]},{"id":"ce85ac1a.5195b","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"","host":"localhost","port":8888,"pin":"23","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":340,"y":120,"wires":[]},{"id":"b43b35b9.387b","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":100,"wires":[["d66fa798.05bba8"]]},{"id":"1e3ac8d2.ca35cf","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":140,"wires":[["d66fa798.05bba8"]]},{"id":"fe0f1f43.2f707","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":240,"wires":[["fd9ba81d.166b7"]]},{"id":"483b1fbf.f8cc3","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":280,"wires":[["fd9ba81d.166b7"]]},{"id":"fd9ba81d.166b7","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"","host":"localhost","port":8888,"pin":"18","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":960,"y":260,"wires":[]},{"id":"d66fa798.05bba8","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":980,"y":120,"wires":[]},{"id":"5a4ed3d9.70c23c","type":"debug","z":"50896b44.fe0db4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":380,"wires":[]},{"id":"37e49056.862ea","type":"inject","z":"50896b44.fe0db4","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.17","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["9c631bb.f4f2ee8"]]},{"id":"f460df40.d4661","type":"function","z":"50896b44.fe0db4","name":"barrido-sensor","func":"var pos = flow.get('pos');\nvar subida = flow.get('subida');\nvar dist = flow.get('dist')\n//var posiciones = flow.get();\n\nif(subida === true)\n{\n  pos = pos +5;\n  if(pos >= 65)\n  {\n      flow.set('subida',false);\n      pos = 65;\n  }\n}\nelse\n{\n  pos = pos -5;\n  if(pos <= 20)\n  {\n      flow.set('subida',true);\n      pos = 20;\n  }\n}\n\n\nvar msg2 = {payload: pos}\n\nmsg = {topic: pos.toString()};\nmsg = {payload: dist};\nflow.set('pos',pos);\n\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":480,"y":360,"wires":[[],["5a4ed3d9.70c23c","26399dea.e1c72a","328fa9c9.56fa86"]]},{"id":"5f8f36c.e5b60c8","type":"exec","z":"ffb2504d.e8d94","command":"docker container restart iot-wifi","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":200,"wires":[["db522b40.3b85d8"],["db522b40.3b85d8"],["db522b40.3b85d8"]]},{"id":"35ed6bcc.15c984","type":"inject","z":"ffb2504d.e8d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["5f8f36c.e5b60c8"]]},{"id":"db522b40.3b85d8","type":"debug","z":"ffb2504d.e8d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":200,"wires":[]},{"id":"9c631bb.f4f2ee8","type":"switch","z":"50896b44.fe0db4","name":"","property":"radar","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":360,"wires":[["f460df40.d4661"]]},{"id":"59e45e55.e83ef","type":"change","z":"50896b44.fe0db4","name":"","rules":[{"t":"set","p":"dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["325f77f2.39dfa8"]]},{"id":"325f77f2.39dfa8","type":"change","z":"50896b44.fe0db4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pos","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":240,"wires":[["561dfd0a.3d3a84","283ccff0.05a1b","1ebd748.7289e8c"]]},{"id":"eb8cc81c.cd0038","type":"smooth","z":"50896b44.fe0db4","name":"","property":"payload","action":"mean","count":"3","round":"0","mult":"single","reduce":true,"x":120,"y":240,"wires":[["59e45e55.e83ef","a1eb59de.b8ad88"]]},{"id":"561dfd0a.3d3a84","type":"ui_chart","z":"50896b44.fe0db4","name":"","group":"5276cd55.81f1dc","order":5,"width":0,"height":0,"label":"Radar","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":280,"wires":[[]]},{"id":"b7675d22.d4c27","type":"inject","z":"ffb2504d.e8d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["46eee955.d07fd8"]]},{"id":"46eee955.d07fd8","type":"exec","z":"ffb2504d.e8d94","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":420,"y":320,"wires":[[],[],[]]},{"id":"ef7264da.76fa78","type":"inject","z":"50896b44.fe0db4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":620,"wires":[["b0b53cbf.f8eac"]]},{"id":"b0b53cbf.f8eac","type":"change","z":"50896b44.fe0db4","name":"","rules":[{"t":"set","p":"pos","pt":"flow","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":620,"wires":[[]]},{"id":"46379da1.a45524","type":"inject","z":"ffb2504d.e8d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["f267a421.891d58"]]},{"id":"f267a421.891d58","type":"exec","z":"ffb2504d.e8d94","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":400,"y":400,"wires":[[],[],[]]},{"id":"283ccff0.05a1b","type":"function","z":"50896b44.fe0db4","name":"direccion-automatica","func":"var pos = msg.topic;\nvar dist = msg.payload;\nvar posiciones = global.get('posiciones')||new Array(10);\nvar max;\nvar sector;\nvar distMin = global.get('distMin')||100;  // Distancia minima\nvar distProm = global.get('distProm')||distMin;\n\npos = (pos/5)-4;\n \nposiciones[pos] = dist;\n\nmax = Math.max.apply(null,posiciones);\nsector = posiciones.indexOf(max);\n\nif((max < distMin) || (distProm < distMin))\n{\n    global.set('reversa',true);\n}\nelse\n{\n   global.set('reversa',false); \n}\n\nglobal.set('posiciones',posiciones);\nglobal.set('max',max);\nglobal.set('sector',sector);\n\nmsg = {payload:sector};\nvar msg2 = {payload:max};\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":680,"y":220,"wires":[["24b1e159.89ee5e"],[]]},{"id":"c8418a87.e3efe8","type":"range","z":"50896b44.fe0db4","minin":"0","maxin":"9","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":620,"y":100,"wires":[["f7d24e15.7b36e"]]},{"id":"f7d24e15.7b36e","type":"switch","z":"50896b44.fe0db4","name":"auto?","property":"auto","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":100,"wires":[["8fc7b31.ae364d","c13e24ef.66c1b"]]},{"id":"d2b262e.0b15da","type":"function","z":"4bb65ed0.821b1","name":"motores","func":"var reversa = global.get('reversa');\nvar radar = global.get('radar');\nvar auto = global.get('auto');\nvar motDA, motDB, motIA, motIB;\nvar velMax = global.get('velMax')||100;\nvar pwmD = velMax;\nvar pwmI = velMax;\nvar sector = global.get('sector')||5;\n\n\n\nif(reversa === false)\n{\n    if((sector < 4)) // Esta libre la izquierda\n    {\n       pwmI = velMax;\n       pwmD = velMax - (Math.abs((sector - 4)*10));\n    }\n    else if(sector > 5) // esta libre la derecha\n    {\n        pwmI = velMax - (Math.abs((5 - sector)*10));\n        pwmD = velMax;\n    }\n    else\n    {\n        pwmI= velMax;\n        pwmD = velMax;\n    }\n}\nelse\n{\n   if((sector < 4)) // Esta libre la izquierda\n    {\n       pwmI = velMax - (Math.abs((sector - 4)*10));\n       pwmD = velMax;\n    }\n    else if(sector > 5) // esta libre la derecha\n    {\n        pwmI = velMax;\n        pwmD = velMax - (Math.abs((5 - sector)*10));\n    }\n    else\n    {\n        pwmI= velMax;\n        pwmD = velMax;\n    } \n}\n\nif((reversa === false) && (radar === true) && (auto === true)) // No hay reversa\n{\n    motDA = {payload:0};\n    motDB = {payload:pwmD};\n    motIA = {payload:0};\n    motIB = {payload:pwmI};\n}\nelse if((reversa === true) && (radar === true) && (auto === true))\n{\n    motDA = {payload:pwmD};\n    motDB = {payload:0};\n    motIA = {payload:pwmI};\n    motIB = {payload:0};\n}\nelse\n{\n    motDA = {payload:0};\n    motDB = {payload:0};\n    motIA = {payload:0};\n    motIB = {payload:0};\n}\n\nreturn [motIA,motIB,motDA,motDB];","outputs":4,"noerr":0,"x":280,"y":460,"wires":[["ce85ac1a.5195b"],["3963a3ef.28a084"],["d66fa798.05bba8"],["fd9ba81d.166b7"]]},{"id":"1ebd748.7289e8c","type":"link out","z":"50896b44.fe0db4","name":"distancia-radar","links":["d2457060.6ddad"],"x":935,"y":260,"wires":[]},{"id":"d2457060.6ddad","type":"link in","z":"4bb65ed0.821b1","name":"motores-radar","links":["1ebd748.7289e8c"],"x":155,"y":380,"wires":[["d2b262e.0b15da"]]},{"id":"ddf09d98.eef4d","type":"ui_slider","z":"8ba99e86.6869e","name":"","label":"Velocidad Máxima","tooltip":"","group":"5276cd55.81f1dc","order":8,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":410,"y":140,"wires":[["26dc55b.7b5c5aa"]]},{"id":"26dc55b.7b5c5aa","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"velMax","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":140,"wires":[[]]},{"id":"d01a9bf6.a88ef8","type":"ui_slider","z":"8ba99e86.6869e","name":"","label":"Distancia Minima","tooltip":"","group":"5276cd55.81f1dc","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"5","max":"100","step":1,"x":410,"y":200,"wires":[["c17621f8.e9233"]]},{"id":"c17621f8.e9233","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"distMin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[[]]},{"id":"e1298095.9f6bb","type":"ui_switch","z":"8ba99e86.6869e","name":"","label":"Autonomo","tooltip":"","group":"5276cd55.81f1dc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":300,"wires":[["d0ab1185.75836"]]},{"id":"d0ab1185.75836","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"auto","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":300,"wires":[[]]},{"id":"22cfa0d8.4ecd5","type":"ui_gauge","z":"50896b44.fe0db4","name":"","group":"5276cd55.81f1dc","order":1,"width":0,"height":0,"gtype":"gage","title":"Distancia para colisión","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#b50000","#e6e600","#39ca38"],"seg1":"","seg2":"","x":820,"y":300,"wires":[]},{"id":"a1eb59de.b8ad88","type":"smooth","z":"50896b44.fe0db4","name":"","property":"payload","action":"min","count":"6","round":"0","mult":"single","reduce":true,"x":620,"y":280,"wires":[["22cfa0d8.4ecd5","dafd9c94.13046"]]},{"id":"dafd9c94.13046","type":"change","z":"50896b44.fe0db4","name":"","rules":[{"t":"set","p":"distProm","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":340,"wires":[[]]},{"id":"de4bed7.ee7c31","type":"inject","z":"8ba99e86.6869e","name":"","topic":"","payload":"max","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":140,"wires":[["ddf09d98.eef4d"]]},{"id":"3a96b2be.7701ce","type":"inject","z":"8ba99e86.6869e","name":"","topic":"","payload":"distMin","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":200,"wires":[["d01a9bf6.a88ef8"]]},{"id":"b37e0eb8.2a607","type":"inject","z":"8ba99e86.6869e","name":"","topic":"","payload":"false","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":300,"wires":[["e1298095.9f6bb","e0fb0a53.a7cbc8"]]},{"id":"24b1e159.89ee5e","type":"switch","z":"50896b44.fe0db4","name":"reversa?","property":"reversa","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":100,"wires":[["c8418a87.e3efe8"],["6726712b.4206d"]]},{"id":"6726712b.4206d","type":"range","z":"50896b44.fe0db4","minin":"0","maxin":"9","minout":"100","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":620,"y":140,"wires":[["f7d24e15.7b36e"]]},{"id":"e0fb0a53.a7cbc8","type":"ui_switch","z":"8ba99e86.6869e","name":"","label":"Radar","tooltip":"","group":"5276cd55.81f1dc","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":360,"wires":[["3d1bdab3.616856"]]},{"id":"3d1bdab3.616856","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"radar","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[[]]},{"id":"bbb4c4f6.6836a8","type":"comment","z":"8ba99e86.6869e","name":"Configuración WiFi","info":"","x":170,"y":460,"wires":[]},{"id":"50c5cfd0.1f7ab","type":"ui_text_input","z":"8ba99e86.6869e","name":"","label":"SSID","tooltip":"","group":"cc6c21f5.20601","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":395,"y":563,"wires":[["568bf297.db626c"]]},{"id":"1361b13b.edabaf","type":"inject","z":"8ba99e86.6869e","name":"","topic":"","payload":"ssid","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":255,"y":563,"wires":[["50c5cfd0.1f7ab"]]},{"id":"568bf297.db626c","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"ssid","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":563,"wires":[[]]},{"id":"9f933db5.5326b","type":"ui_text_input","z":"8ba99e86.6869e","name":"","label":"KEY","tooltip":"","group":"cc6c21f5.20601","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":394,"y":620,"wires":[["cad0cad5.a8f498"]]},{"id":"3ffa45ee.85e27a","type":"inject","z":"8ba99e86.6869e","name":"","topic":"","payload":"psk","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":254,"y":620,"wires":[["9f933db5.5326b"]]},{"id":"cad0cad5.a8f498","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"psk","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":564,"y":620,"wires":[[]]},{"id":"1191c7ca.64d2d8","type":"ui_button","z":"8ba99e86.6869e","name":"","group":"cc6c21f5.20601","order":3,"width":0,"height":0,"passthru":false,"label":"Agregar WiFi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Nueva Red","x":232,"y":686,"wires":[["902dbe21.b6107"]]},{"id":"911f2695.2b6d28","type":"link out","z":"8ba99e86.6869e","name":"ui-agregar-wifi","links":["694e0bf2.f5b284"],"x":637,"y":686,"wires":[]},{"id":"902dbe21.b6107","type":"ui_toast","z":"8ba99e86.6869e","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Agregar","cancel":"Cancelar","topic":"¿Seguro que deseas agregar una nueva red?","name":"","x":432,"y":686,"wires":[["911f2695.2b6d28"]]},{"id":"693874d0.aca13c","type":"link in","z":"8ba99e86.6869e","name":"ui-ssid","links":["7ba31f8c.a2ff2"],"x":180,"y":503,"wires":[["50c5cfd0.1f7ab"]]},{"id":"4283e976.b40da8","type":"exec","z":"ffb2504d.e8d94","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"conectar ssid","x":470,"y":560,"wires":[[],[],[]]},{"id":"d2e22ace.d7e1f8","type":"function","z":"ffb2504d.e8d94","name":"fromato-ssid+psk","func":"//curl -w \"\\n\" -d '{\"ssid\":\"Inventoteca_2G\", \"psk\":\"science_7425\"}' \\      -H \"Content-Type: application/json\" \\      -X POST localhost:8080/connect\nvar ssid = global.get('ssid');\nvar psk = global.get('psk');\n\n\nvar formato = 'curl -w';\nformato += '\" \\n \"';\nformato += ' -d ';\nformato += \"'\";\nformato += '{\"ssid\":'\nformato += '\"';\nformato += ssid;\nformato += '\"';\nformato += ', ';\nformato += '\"psk\":';\nformato += '\"'\nformato += psk\nformato += '\"'\nformato += \"}\";\nformato += \"'\";\nformato += '\"\\\"';\nformato += '-H ';\nformato += '\"';\nformato += \"Content-Type: application/json\";\nformato += '\"';\nformato += '\"\\\"';\nformato +=  '-X ' \nformato += \"POST localhost:8080/connect\";\nmsg = {payload:formato};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":560,"wires":[["4283e976.b40da8"]]},{"id":"694e0bf2.f5b284","type":"link in","z":"ffb2504d.e8d94","name":"sistema-agregar-wifi","links":["911f2695.2b6d28"],"x":160,"y":560,"wires":[["d2e22ace.d7e1f8"]]},{"id":"409ee3f7.249f1c","type":"comment","z":"ffb2504d.e8d94","name":"Agregar WiFi","info":"","x":150,"y":500,"wires":[]},{"id":"57aa6d76.1f7e64","type":"exec","z":"ffb2504d.e8d94","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":557,"y":699,"wires":[["9e4b3270.2b91f"],[],[]]},{"id":"2b01ae19.9c9702","type":"link out","z":"ffb2504d.e8d94","name":"sistema-respuesta-ip","links":["eb46a588.815758","3a9ae30.cf75d1e"],"x":1052,"y":719,"wires":[]},{"id":"92b4513d.73eb4","type":"comment","z":"ffb2504d.e8d94","name":"IP","info":"","x":130,"y":640,"wires":[]},{"id":"3b1bd91d.f7ac96","type":"switch","z":"ffb2504d.e8d94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"inet","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":827,"y":679,"wires":[["9fef3b1e.e06768"]]},{"id":"9e4b3270.2b91f","type":"split","z":"ffb2504d.e8d94","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":707,"y":679,"wires":[["3b1bd91d.f7ac96"]]},{"id":"8ee42a57.da4328","type":"debug","z":"ffb2504d.e8d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1127,"y":659,"wires":[]},{"id":"9fef3b1e.e06768","type":"switch","z":"ffb2504d.e8d94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"inet6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":947,"y":679,"wires":[[],["8ee42a57.da4328","2b01ae19.9c9702"]]},{"id":"5ac3bc98.368734","type":"exec","z":"ffb2504d.e8d94","command":"iwconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":557,"y":799,"wires":[["2549dc62.8acfd4"],["2549dc62.8acfd4"],["2549dc62.8acfd4"]]},{"id":"a5dddec2.3c99b","type":"debug","z":"ffb2504d.e8d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1247,"y":779,"wires":[]},{"id":"b04c049e.f3e6c8","type":"switch","z":"ffb2504d.e8d94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ESSID:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":847,"y":799,"wires":[["22e42170.a0820e"]]},{"id":"2549dc62.8acfd4","type":"split","z":"ffb2504d.e8d94","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":727,"y":799,"wires":[["b04c049e.f3e6c8"]]},{"id":"22e42170.a0820e","type":"split","z":"ffb2504d.e8d94","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":987,"y":799,"wires":[["9f483132.2c579"]]},{"id":"9f483132.2c579","type":"switch","z":"ffb2504d.e8d94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ESSID","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1107,"y":799,"wires":[["a5dddec2.3c99b"],["7ba31f8c.a2ff2"]]},{"id":"7ba31f8c.a2ff2","type":"link out","z":"ffb2504d.e8d94","name":"sistema-ssid","links":["693874d0.aca13c"],"x":1232,"y":819,"wires":[]},{"id":"30e1de92.4ed762","type":"ui_text","z":"8ba99e86.6869e","group":"cc6c21f5.20601","order":4,"width":0,"height":0,"name":"","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":760,"wires":[]},{"id":"3a9ae30.cf75d1e","type":"link in","z":"8ba99e86.6869e","name":"ui-ip","links":["2b01ae19.9c9702"],"x":175,"y":760,"wires":[["30e1de92.4ed762"]]},{"id":"e108bb8a.f2bd38","type":"inject","z":"ffb2504d.e8d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"60","x":310,"y":760,"wires":[["57aa6d76.1f7e64","5ac3bc98.368734"]]}]