flow.json
[{"id":"50896b44.fe0db4","type":"tab","label":"Distancia","disabled":false,"info":""},{"id":"ffb2504d.e8d94","type":"tab","label":"Sistema","disabled":false,"info":""},{"id":"4bb65ed0.821b1","type":"tab","label":"Motores","disabled":false,"info":""},{"id":"bbfb30ca.1c615","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"44bfb592.46188c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5276cd55.81f1dc","type":"ui_group","z":"","name":"Default","tab":"44bfb592.46188c","disp":true,"width":"6","collapse":false},{"id":"d44159a6.891fb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8e519d78.640be","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c13e24ef.66c1b","type":"ui_slider","z":"50896b44.fe0db4","name":"","label":"Volante","tooltip":"","group":"5276cd55.81f1dc","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"15","max":"85","step":"0.5","x":100,"y":100,"wires":[["8fc7b31.ae364d"]]},{"id":"b87b2cd4.07ba","type":"pi-gpiod out","z":"50896b44.fe0db4","name":"","host":"localhost","port":8888,"pin":"11","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","x":440,"y":100,"wires":[]},{"id":"cc1490de.c0d77","type":"rpi-srf","z":"50896b44.fe0db4","name":"","topic":"SRF","pulse":"0.3","pins":"31,29","x":90,"y":180,"wires":[["59e45e55.e83ef"]]},{"id":"74137bfc.1faf6c","type":"ui_gauge","z":"50896b44.fe0db4","name":"","group":"5276cd55.81f1dc","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#a40000","#e6e600","#00b500"],"seg1":"","seg2":"","x":630,"y":180,"wires":[]},{"id":"8fc7b31.ae364d","type":"range","z":"50896b44.fe0db4","minin":"15","maxin":"85","minout":"85","maxout":"15","action":"scale","round":false,"property":"payload","name":"","x":280,"y":100,"wires":[["b87b2cd4.07ba"]]},{"id":"26399dea.e1c72a","type":"pi-gpiod out","z":"50896b44.fe0db4","name":"","host":"localhost","port":8888,"pin":"10","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":480,"y":480,"wires":[]},{"id":"328fa9c9.56fa86","type":"ui_slider","z":"50896b44.fe0db4","name":"","label":"Sensor","tooltip":"","group":"5276cd55.81f1dc","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":"0.5","x":260,"y":480,"wires":[["26399dea.e1c72a"]]},{"id":"6c671ebf.20bfb8","type":"inject","z":"ffb2504d.e8d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["753503e.0cfa1fc"]]},{"id":"753503e.0cfa1fc","type":"exec","z":"ffb2504d.e8d94","command":"sudo pigpiod","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":290,"y":100,"wires":[["ff380ffc.1e3db8"],["ff380ffc.1e3db8"],["ff380ffc.1e3db8"]]},{"id":"ff380ffc.1e3db8","type":"debug","z":"ffb2504d.e8d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":100,"wires":[]},{"id":"1c97792b.dc992f","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["ce85ac1a.5195b"]]},{"id":"983d2256.d9a3d","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["ce85ac1a.5195b"]]},{"id":"df7119da.7b51e8","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["3963a3ef.28a084"]]},{"id":"cf405d2b.beda88","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["3963a3ef.28a084"]]},{"id":"3963a3ef.28a084","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"","host":"localhost","port":8888,"pin":"22","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","x":320,"y":260,"wires":[]},{"id":"ce85ac1a.5195b","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"","host":"localhost","port":8888,"pin":"23","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","x":340,"y":120,"wires":[]},{"id":"b43b35b9.387b","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["d66fa798.05bba8"]]},{"id":"1e3ac8d2.ca35cf","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["d66fa798.05bba8"]]},{"id":"fe0f1f43.2f707","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["fd9ba81d.166b7"]]},{"id":"483b1fbf.f8cc3","type":"inject","z":"4bb65ed0.821b1","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":580,"wires":[["fd9ba81d.166b7"]]},{"id":"fd9ba81d.166b7","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"","host":"localhost","port":8888,"pin":"18","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","x":320,"y":560,"wires":[]},{"id":"d66fa798.05bba8","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","x":340,"y":420,"wires":[]},{"id":"5a4ed3d9.70c23c","type":"debug","z":"50896b44.fe0db4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":500,"wires":[]},{"id":"37e49056.862ea","type":"inject","z":"50896b44.fe0db4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["9c631bb.f4f2ee8"]]},{"id":"f460df40.d4661","type":"function","z":"50896b44.fe0db4","name":"","func":"var pos = flow.get('pos');\nvar subida = flow.get('subida');\nvar dist = flow.get('dist')\n\nif(subida === true)\n{\n  pos = pos +10;\n  if(pos >= 60)\n  {\n      flow.set('subida',false);\n      pos = 60;\n  }\n}\nelse\n{\n  pos = pos -10;\n  if(pos <= 20)\n  {\n      flow.set('subida',true);\n      pos = 20;\n  }\n}\n\n\nvar msg2 = {payload: pos}\n\nmsg = {topic: pos.toString()};\nmsg = {payload: dist};\nflow.set('pos',pos);\n\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":410,"y":360,"wires":[["325f77f2.39dfa8"],["5a4ed3d9.70c23c","26399dea.e1c72a"]]},{"id":"cb64f414.27ff68","type":"mqtt in","z":"bbfb30ca.1c615","name":"","topic":"/#","qos":"2","datatype":"auto","broker":"8e519d78.640be","x":100,"y":100,"wires":[["7ee1b2b8.e89ebc"]]},{"id":"7ee1b2b8.e89ebc","type":"debug","z":"bbfb30ca.1c615","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":200,"y":200,"wires":[]},{"id":"6fbe6751.087218","type":"ping","z":"bbfb30ca.1c615","name":"","host":"www.google.com","timer":"20","x":170,"y":340,"wires":[["7ee1b2b8.e89ebc"]]},{"id":"5f8f36c.e5b60c8","type":"exec","z":"ffb2504d.e8d94","command":"docker container restart iot-wifi","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":200,"wires":[["db522b40.3b85d8"],["db522b40.3b85d8"],["db522b40.3b85d8"]]},{"id":"35ed6bcc.15c984","type":"inject","z":"ffb2504d.e8d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["5f8f36c.e5b60c8"]]},{"id":"db522b40.3b85d8","type":"debug","z":"ffb2504d.e8d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":200,"wires":[]},{"id":"9c631bb.f4f2ee8","type":"switch","z":"50896b44.fe0db4","name":"","property":"lidar","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":360,"wires":[["f460df40.d4661"]]},{"id":"3b13f69.e73360a","type":"ui_switch","z":"50896b44.fe0db4","name":"","label":"Lidar","tooltip":"","group":"5276cd55.81f1dc","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":740,"wires":[["5baadf39.183af"]]},{"id":"5baadf39.183af","type":"change","z":"50896b44.fe0db4","name":"","rules":[{"t":"set","p":"lidar","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":740,"wires":[[]]},{"id":"59e45e55.e83ef","type":"change","z":"50896b44.fe0db4","name":"","rules":[{"t":"set","p":"dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["74137bfc.1faf6c","325f77f2.39dfa8"]]},{"id":"325f77f2.39dfa8","type":"change","z":"50896b44.fe0db4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pos","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["a1ce6043.fc88b"]]},{"id":"3744f133.6b3a9e","type":"ui_chart","z":"50896b44.fe0db4","name":"","group":"5276cd55.81f1dc","order":4,"width":0,"height":0,"label":"chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"5","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":300,"wires":[[]]},{"id":"a1ce6043.fc88b","type":"smooth","z":"50896b44.fe0db4","name":"","property":"payload","action":"mean","count":"3","round":"0","mult":"single","reduce":false,"x":780,"y":300,"wires":[["3744f133.6b3a9e"]]}]