flow.json
[{"id":"8ba99e86.6869e","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"4bb65ed0.821b1","type":"tab","label":"Salidas GPIO","disabled":false,"info":""},{"id":"d4010628.de4e88","type":"tab","label":"Interfaz Teléfono","disabled":false,"info":""},{"id":"8d66ddb9.1d7e","type":"tab","label":"Cámara","disabled":false,"info":""},{"id":"7382962c.9ffe18","type":"tab","label":"On Init","disabled":false,"info":""},{"id":"ffb2504d.e8d94","type":"tab","label":"Sistema (Exec)","disabled":false,"info":""},{"id":"7de485ea.266e9c","type":"tab","label":"Radar","disabled":true,"info":""},{"id":"5cde758b.725c2c","type":"tab","label":"Google Home ","disabled":false,"info":""},{"id":"9f968f9.f74b07","type":"tab","label":"Ngrok","disabled":false,"info":""},{"id":"d8b6dd1b.4b1f1","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"a73a92ed.4364a","type":"subflow","name":"GoogleHomeNotification","info":"","in":[{"x":50,"y":30,"wires":[{"id":"d192dd91.566b6"}]}],"out":[]},{"id":"44bfb592.46188c","type":"ui_tab","z":"","name":"Autónomo","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5276cd55.81f1dc","type":"ui_group","z":"","name":"Setup","tab":"44bfb592.46188c","order":1,"disp":true,"width":"6","collapse":false},{"id":"d44159a6.891fb8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IoT Car","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8e519d78.640be","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cc6c21f5.20601","type":"ui_group","z":"","name":"WiFi","tab":"cc970ea.0f13df","order":2,"disp":true,"width":"6","collapse":true},{"id":"cc970ea.0f13df","type":"ui_tab","z":"","name":"Sistema","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d8e7c0bd.e7edb","type":"ui_group","z":"","name":"Botones","tab":"e47e2d7f.ea2e5","order":2,"disp":false,"width":"6","collapse":false},{"id":"bf30e811.8206f8","type":"ui_group","z":"","name":"Apagar","tab":"cc970ea.0f13df","disp":true,"width":"6","collapse":false},{"id":"d6ff8b79.b23718","type":"ui_group","z":"","name":"Cámara","tab":"e47e2d7f.ea2e5","order":1,"disp":false,"width":"6","collapse":false},{"id":"e47e2d7f.ea2e5","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"192caa48.1b50d6","type":"ui_group","z":"","name":"Parámetros de Manejo","tab":"cc970ea.0f13df","disp":true,"width":"6","collapse":false},{"id":"70b7806f.08035","type":"ui_group","z":0,"name":"Motor Derecho","tab":"95c4e110.fc3d6","disp":true,"width":"6","collapse":false},{"id":"f0c9bd.d741b64","type":"ui_group","z":0,"name":"Todo","tab":"95c4e110.fc3d6","disp":true,"width":"6","collapse":false},{"id":"21c0d0a3.ed81d","type":"ui_group","z":0,"name":"Motor Izquierdo","tab":"95c4e110.fc3d6","disp":true,"width":"6","collapse":false},{"id":"11770861.7c8cc8","type":"ui_group","z":"","name":"Botones","tab":"","disp":false,"width":"6","collapse":false},{"id":"21bba622.f711ca","type":"ui_group","z":0,"name":"Apagado","tab":"95c4e110.fc3d6","disp":true,"width":"2","collapse":true},{"id":"785e6e91.ad53","type":"ui_group","z":0,"name":"D","tab":"","disp":true,"width":"6","collapse":false},{"id":"65d38079.06f4c","type":"ui_group","z":0,"name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"95c4e110.fc3d6","type":"ui_tab","z":"","d":true,"name":"Motores","icon":"dashboard","disabled":false,"hidden":false},{"id":"1cb7b766.d83529","type":"ui_group","z":"","name":"Cámara","tab":"","disp":false,"width":"6","collapse":false},{"id":"35881eda.3c92f2","type":"ui_group","z":"","name":"Setup","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f11b0502.3a3bc8","type":"mqtt-broker","z":"","name":"","broker":"web.inventoteca.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e58a5442.4cd178","type":"ui_group","z":"","name":"WiFi","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"2bb328ff.1967f8","type":"ui_group","z":"","name":"Botones","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"e8532ce6.0ed0e","type":"ui_group","z":"","name":"Apagar","tab":"","disp":true,"width":"6","collapse":false},{"id":"1907ebb6.b614d4","type":"ui_group","z":"","name":"Cámara","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"5aa1788d.60d7d8","type":"ui_group","z":"","name":"Parámetros de Manejo","tab":"","disp":true,"width":"6","collapse":false},{"id":"2b638ce9.4890d4","type":"googlehome-config-node-offline","z":"a73a92ed.4364a","ipaddress":"192.168.20.194","name":"Google Home","language":"fr"},{"id":"5aa25857.668758","type":"googlehome-config-node-offline","z":"a73a92ed.4364a","ipaddress":"192.168.20.197","name":"Google Home Mini","language":"fr"},{"id":"ba8fdb96.e1dfd8","type":"googlehome-config-node-offline","z":"","ipaddress":"192.168.1.45","name":"Inventoteca Home Mini","language":"es"},{"id":"264d958d.9a7f4a","type":"ngrokauth","z":"9f968f9.f74b07"},{"id":"71cdffda.ae315","type":"telegrambot-config","z":"","botname":"elbot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"3963a3ef.28a084","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"Izquierda-B","host":"localhost","port":8888,"pin":"22","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":690,"y":400,"wires":[]},{"id":"ce85ac1a.5195b","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"Izquierda-A","host":"localhost","port":8888,"pin":"23","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":690,"y":340,"wires":[]},{"id":"fd9ba81d.166b7","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"Derecha-B","host":"localhost","port":8888,"pin":"18","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":690,"y":520,"wires":[]},{"id":"d66fa798.05bba8","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"Derecha-A","host":"localhost","port":8888,"pin":"17","set":"","level":"0","out":"pwm","sermin":"1000","sermax":"2000","x":690,"y":460,"wires":[]},{"id":"b7675d22.d4c27","type":"inject","z":"ffb2504d.e8d94","name":"","topic":"","payload":"sudo reboot","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["46eee955.d07fd8"]]},{"id":"46eee955.d07fd8","type":"exec","z":"ffb2504d.e8d94","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":120,"wires":[[],[],[]]},{"id":"46379da1.a45524","type":"inject","z":"ffb2504d.e8d94","name":"","topic":"","payload":"sudo halt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["f267a421.891d58"]]},{"id":"f267a421.891d58","type":"exec","z":"ffb2504d.e8d94","command":"sudo halt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":200,"wires":[[],[],[]]},{"id":"d2b262e.0b15da","type":"function","z":"4bb65ed0.821b1","name":"motores","func":"var reversa = global.get('reversa');\nvar radar = global.get('radar');\nvar auto = global.get('auto');\nvar motDA, motDB, motIA, motIB;\nvar velMax = global.get('velMax')||100;\nvar pwmD = velMax;\nvar pwmI = velMax;\nvar sector = global.get('sector')||5;\nvar motores = global.get('motores')||false;\n\n\n\nif(reversa === false)\n{\n    if((sector < 4)) // Esta libre la izquierda\n    {\n       pwmI = velMax;\n       pwmD = velMax - (Math.abs((sector - 4)*10));\n    }\n    else if(sector > 5) // esta libre la derecha\n    {\n        pwmI = velMax - (Math.abs((5 - sector)*10));\n        pwmD = velMax;\n    }\n    else\n    {\n        pwmI= velMax;\n        pwmD = velMax;\n    }\n}\nelse\n{\n   if((sector < 4)) // Esta libre la izquierda\n    {\n       pwmI = velMax - (Math.abs((sector - 4)*10));\n       pwmD = velMax;\n    }\n    else if(sector > 5) // esta libre la derecha\n    {\n        pwmI = velMax;\n        pwmD = velMax - (Math.abs((5 - sector)*10));\n    }\n    else\n    {\n        pwmI= velMax;\n        pwmD = velMax;\n    } \n}\n\nif((reversa === false) && ((auto === true) || motores === true)) // No hay reversa\n{\n    motDA = {payload:0};\n    motDB = {payload:pwmD};\n    motIA = {payload:0};\n    motIB = {payload:pwmI};\n}\nelse if((reversa === true) && ((auto === true) || (motores === true)))\n{\n    motDA = {payload:pwmD};\n    motDB = {payload:0};\n    motIA = {payload:pwmI};\n    motIB = {payload:0};\n}\nelse\n{\n    motDA = {payload:0};\n    motDB = {payload:0};\n    motIA = {payload:0};\n    motIB = {payload:0};\n}\n\nreturn [motIA,motIB,motDA,motDB];","outputs":4,"noerr":0,"x":280,"y":440,"wires":[["63f56713.a60938"],["6403a4c4.cce28c"],["ab82ec5a.970cd"],["b897b495.593c08"]]},{"id":"d2457060.6ddad","type":"link in","z":"4bb65ed0.821b1","name":"motores-radar","links":["1ebd748.7289e8c","2a2343f1.20400c","f9a74ee2.739d3","5d2d5f2c.eb201"],"x":175,"y":440,"wires":[["d2b262e.0b15da"]]},{"id":"ddf09d98.eef4d","type":"ui_slider","z":"8ba99e86.6869e","name":"","label":"Velocidad Máxima","tooltip":"","group":"5276cd55.81f1dc","order":8,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"35","max":"100","step":1,"x":270,"y":100,"wires":[["26dc55b.7b5c5aa"]]},{"id":"26dc55b.7b5c5aa","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"velMax","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":100,"wires":[[]]},{"id":"d01a9bf6.a88ef8","type":"ui_slider","z":"8ba99e86.6869e","name":"","label":"Distancia Minima","tooltip":"","group":"5276cd55.81f1dc","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"0","max":"100","step":1,"x":270,"y":160,"wires":[["c17621f8.e9233"]]},{"id":"c17621f8.e9233","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"distMin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":160,"wires":[[]]},{"id":"50c5cfd0.1f7ab","type":"ui_text_input","z":"8ba99e86.6869e","name":"","label":"SSID","tooltip":"","group":"cc6c21f5.20601","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":230,"y":460,"wires":[["568bf297.db626c"]]},{"id":"568bf297.db626c","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"ssid","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":460,"wires":[[]]},{"id":"9f933db5.5326b","type":"ui_text_input","z":"8ba99e86.6869e","name":"","label":"KEY","tooltip":"","group":"cc6c21f5.20601","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":230,"y":500,"wires":[["cad0cad5.a8f498"]]},{"id":"cad0cad5.a8f498","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"psk","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":500,"wires":[[]]},{"id":"1191c7ca.64d2d8","type":"ui_button","z":"8ba99e86.6869e","name":"","group":"cc6c21f5.20601","order":3,"width":0,"height":0,"passthru":false,"label":"Agregar WiFi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Nueva Red","x":190,"y":540,"wires":[["902dbe21.b6107"]]},{"id":"911f2695.2b6d28","type":"link out","z":"8ba99e86.6869e","name":"ui-agregar-wifi","links":["694e0bf2.f5b284"],"x":475,"y":540,"wires":[]},{"id":"902dbe21.b6107","type":"ui_toast","z":"8ba99e86.6869e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Agregar","cancel":"Cancelar","raw":false,"topic":"¿Seguro que deseas agregar una nueva red?","name":"¿Seguro?","x":360,"y":540,"wires":[["911f2695.2b6d28"]]},{"id":"693874d0.aca13c","type":"link in","z":"8ba99e86.6869e","name":"ui-ssid","links":["7ba31f8c.a2ff2","c0d73a10.7dc578","ca282022.ab45c"],"x":135,"y":460,"wires":[["50c5cfd0.1f7ab"]]},{"id":"694e0bf2.f5b284","type":"link in","z":"ffb2504d.e8d94","name":"sistema-agregar-wifi","links":["911f2695.2b6d28"],"x":575,"y":120,"wires":[["b688e24e.bddce"]]},{"id":"409ee3f7.249f1c","type":"comment","z":"ffb2504d.e8d94","name":"Agregar WiFi","info":"","x":630,"y":60,"wires":[]},{"id":"57aa6d76.1f7e64","type":"exec","z":"ffb2504d.e8d94","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":480,"wires":[["9e4b3270.2b91f"],[],[]]},{"id":"2b01ae19.9c9702","type":"link out","z":"ffb2504d.e8d94","name":"sistema-respuesta-ip","links":["eb46a588.815758","3a9ae30.cf75d1e"],"x":1055,"y":500,"wires":[]},{"id":"92b4513d.73eb4","type":"comment","z":"ffb2504d.e8d94","name":"IP","info":"","x":90,"y":460,"wires":[]},{"id":"3b1bd91d.f7ac96","type":"switch","z":"ffb2504d.e8d94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"inet","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":480,"wires":[["9fef3b1e.e06768"]]},{"id":"9e4b3270.2b91f","type":"split","z":"ffb2504d.e8d94","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":480,"wires":[["3b1bd91d.f7ac96"]]},{"id":"8ee42a57.da4328","type":"debug","z":"ffb2504d.e8d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":460,"wires":[]},{"id":"9fef3b1e.e06768","type":"switch","z":"ffb2504d.e8d94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"inet6","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":480,"wires":[[],["8ee42a57.da4328","2b01ae19.9c9702"]]},{"id":"5ac3bc98.368734","type":"exec","z":"ffb2504d.e8d94","command":"iwconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":560,"wires":[["2549dc62.8acfd4"],["2549dc62.8acfd4"],["2549dc62.8acfd4"]]},{"id":"a5dddec2.3c99b","type":"debug","z":"ffb2504d.e8d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":540,"wires":[]},{"id":"b04c049e.f3e6c8","type":"switch","z":"ffb2504d.e8d94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ESSID:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":560,"wires":[["22e42170.a0820e"]]},{"id":"2549dc62.8acfd4","type":"split","z":"ffb2504d.e8d94","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":560,"wires":[["b04c049e.f3e6c8"]]},{"id":"22e42170.a0820e","type":"split","z":"ffb2504d.e8d94","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":560,"wires":[["9f483132.2c579"]]},{"id":"9f483132.2c579","type":"switch","z":"ffb2504d.e8d94","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ESSID","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":560,"wires":[["a5dddec2.3c99b"],["7ba31f8c.a2ff2"]]},{"id":"7ba31f8c.a2ff2","type":"link out","z":"ffb2504d.e8d94","name":"sistema-ssid","links":["693874d0.aca13c"],"x":1055,"y":580,"wires":[]},{"id":"30e1de92.4ed762","type":"ui_text","z":"8ba99e86.6869e","group":"cc6c21f5.20601","order":4,"width":0,"height":0,"name":"Show IP","label":"IP","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":580,"wires":[]},{"id":"3a9ae30.cf75d1e","type":"link in","z":"8ba99e86.6869e","name":"ui-ip","links":["2b01ae19.9c9702"],"x":135,"y":580,"wires":[["30e1de92.4ed762"]]},{"id":"e108bb8a.f2bd38","type":"inject","z":"ffb2504d.e8d94","name":"WiFi Reboot","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"60","x":140,"y":520,"wires":[["57aa6d76.1f7e64","5ac3bc98.368734"]]},{"id":"c228bcf1.7f791","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"Adelante","order":4,"width":"2","height":"1","format":"<div class=\"momentaryad vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-arrow-up fa-2x\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryad').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryad').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":260,"wires":[["e7972d49.1999a","81fbf784.a31988","e54c41f4.4739"]]},{"id":"c42d9ec9.10da","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"Derecha","order":8,"width":"2","height":"1","format":"<div class=\"momentaryder vibrate filled touched bigfont rounded\" style=\"background-color:#009999\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#009999\">  \n    <i class=\"fa fa-camera fa-2x\" aria-hidden=\"true\"></i>\n    <i class=\"fa fa-arrow-right fa-2x\" aria-hidden=\"true\"></i>\n<script>\n(function($scope) {\n$('.momentaryder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n</md-button>\n</center>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":600,"wires":[[]]},{"id":"b339036a.c50bc","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"arriba der","order":5,"width":"2","height":"1","format":"<div class=\"momentaryarder vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\">  \n    <i class=\"fa fa-reply fa-2x fa-flip-horizontal\"></i>\n</md-button> \n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryarder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryarder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":300,"wires":[["e7972d49.1999a","e982dd44.3aa8e","e54c41f4.4739"]]},{"id":"1d4ea6d5.96b2f9","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"Izquierda","order":6,"width":"2","height":"1","format":"<div class=\"momentaryiz vibrate filled touched bigfont rounded\" style=\"background-color:#009999\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#009999\"> \n    <i class=\"fa fa-arrow-left fa-2x\" aria-hidden=\"true\"></i>\n    <i class=\"fa fa-camera fa-2x\" aria-hidden=\"true\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryiz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryiz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":240,"y":560,"wires":[[]]},{"id":"96a3e472.1189f8","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"Centro","order":7,"width":"2","height":"1","format":"   \n<div class=\"momentarycen vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    Motores<br/><i class=\"fa fa-power-off\" aria-hidden=\"true\"></i>\n</md-button>\n</center>\n</div>\n\n<script>\n(function($scope) {\n$('.momentarycen').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentarycen').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    //$scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":230,"y":440,"wires":[["e267b4ea.5e4078"]]},{"id":"a0a4b056.f2c99","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"abajo iz","order":9,"width":"2","height":"1","format":" <div class=\"momentaryabiz vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-reply fa-2x fa-flip-vertical\"></i>\n</md-button>\n</center>\n</div>\n\n<script>\n(function($scope) {\n$('.momentaryabiz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryabiz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":140,"wires":[["ac07c00d.54b0e","e982dd44.3aa8e","e54c41f4.4739"]]},{"id":"ca3cfbf8.ad2ce8","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"Atrás","order":10,"width":"2","height":"1","format":"<div class=\"momentaryat vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button \n   class=\"filled touched bigfont rounded\" \n   style=\"background-color:#c0392b\">\n   <i class=\"fa fa-arrow-down fa-2x\" aria-hidden=\"true\"></i>\n</md-button> \n</center>\n<script>\n(function($scope) {\n$('.momentaryat').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryat').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n</div>\n\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":230,"y":220,"wires":[["ac07c00d.54b0e","81fbf784.a31988","e54c41f4.4739"]]},{"id":"5d8c566e.cac518","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"arriba Iz","order":3,"width":"2","height":"1","format":"<div class=\"momentaryariz vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"filled touched bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-reply fa-2x\"></i>\n</md-button>\n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryariz').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryariz').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":240,"y":340,"wires":[["e7972d49.1999a","aa6b81e0.33115","e54c41f4.4739"]]},{"id":"d14aa68e.2336f8","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"Formato botones","order":2,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n\n  \n</style>\n\n<script>\n$('.vibrate').on('touchstart mousedown', function() {\n  navigator.vibrate(100);\n});\n$('.vibrate').on('touchend mouseup', function() {\n  navigator.vibrate(100);\n});\n\n$('.vibrate').on('touchstart mousedown', function() {\n  navigator.vibrate(100);\n});\n\n$scope.action = function(controlName) {\n\n    var actioner = $scope[controlName];\n    if (!actioner) {\n      $scope[controlName] = actioner;\n    }\n actioner.on('touchstart mousedown', function(e) { \n\te.preventDefault();\n\t$scope.send({\"payload\": 1});\n\t});\n actioner.on('touchend mouseup', function(e) {\n\te.preventDefault();\n\t$scope.send({\"payload\": 1});\n\t});\n  }\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":270,"y":80,"wires":[[]]},{"id":"11b4e73b.d2ee29","type":"ui_template","z":"d4010628.de4e88","group":"d8e7c0bd.e7edb","name":"abajo der","order":11,"width":"2","height":"1","format":"<div class=\"momentaryabder vibrate filled bigfont rounded\" style=\"background-color:#c0392b\">\n<center>\n<md-button class=\"bigfont rounded\" style=\"background-color:#c0392b\"> \n    <i class=\"fa fa-reply fa-2x fa-rotate-180\"></i>\n</md-button> \n</center>\n</div>\n<script>\n(function($scope) {\n$('.momentaryabder').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentaryabder').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":240,"y":180,"wires":[["ac07c00d.54b0e","aa6b81e0.33115","e54c41f4.4739"]]},{"id":"759c1f6b.4ee12","type":"change","z":"d4010628.de4e88","name":"Motores On","rules":[{"t":"set","p":"motores","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":280,"wires":[["3e2272b4.b35f9e"]]},{"id":"e7972d49.1999a","type":"change","z":"d4010628.de4e88","name":"Adelante","rules":[{"t":"set","p":"reversa","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":460,"wires":[["2a2343f1.20400c"]]},{"id":"ac07c00d.54b0e","type":"change","z":"d4010628.de4e88","name":"Reversa","rules":[{"t":"set","p":"reversa","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["2a2343f1.20400c"]]},{"id":"e982dd44.3aa8e","type":"change","z":"d4010628.de4e88","name":"Right","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["4d5c9a93.8bb2b4","587ccee7.8b573"]]},{"id":"aa6b81e0.33115","type":"change","z":"d4010628.de4e88","name":"Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["4d5c9a93.8bb2b4","587ccee7.8b573"]]},{"id":"81fbf784.a31988","type":"change","z":"d4010628.de4e88","name":"Center","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":260,"wires":[["4d5c9a93.8bb2b4","587ccee7.8b573"]]},{"id":"4d5c9a93.8bb2b4","type":"link out","z":"d4010628.de4e88","name":"telefono-volante","links":["3b540816.53f838","6ab354ed.4d350c","3c4070fc.4b028","d3e3d9ee.ced988","6b647ad1.63d214"],"x":755,"y":220,"wires":[]},{"id":"8fee36b2.f70378","type":"ui_button","z":"8ba99e86.6869e","name":"","group":"bf30e811.8206f8","order":0,"width":0,"height":0,"passthru":false,"label":"Apagar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"¿Apagar?","payloadType":"str","topic":"","x":720,"y":100,"wires":[["b0a02239.42f0a"]]},{"id":"6c51169f.ab8078","type":"link out","z":"8ba99e86.6869e","name":"ui-apagar","links":["3aa36292.7674ce"],"x":975,"y":120,"wires":[]},{"id":"3aa36292.7674ce","type":"link in","z":"ffb2504d.e8d94","name":"sistema-apagar","links":["6c51169f.ab8078"],"x":175,"y":160,"wires":[["f267a421.891d58","46eee955.d07fd8"]]},{"id":"1267b836.7dc418","type":"ui_button","z":"8ba99e86.6869e","name":"","group":"bf30e811.8206f8","order":0,"width":0,"height":0,"passthru":false,"label":"Reiniciar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"¿Reiniciar?","payloadType":"str","topic":"","x":720,"y":140,"wires":[["b0a02239.42f0a"]]},{"id":"35eb30f.96ae1d","type":"change","z":"d4010628.de4e88","name":"Motores Off","rules":[{"t":"set","p":"motores","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":340,"wires":[["2a2343f1.20400c"]]},{"id":"2a2343f1.20400c","type":"link out","z":"d4010628.de4e88","name":"telefono-motores","links":["d2457060.6ddad"],"x":1035,"y":140,"wires":[]},{"id":"3e2272b4.b35f9e","type":"change","z":"d4010628.de4e88","name":"Control temporal","rules":[{"t":"set","p":"temporal","pt":"global","to":"auto","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":280,"wires":[["ea06a338.8226c"]]},{"id":"e54c41f4.4739","type":"switch","z":"d4010628.de4e88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":300,"wires":[["759c1f6b.4ee12"],["6609fcb9.618cd4"]]},{"id":"ea06a338.8226c","type":"change","z":"d4010628.de4e88","name":"auto off","rules":[{"t":"set","p":"auto","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":280,"wires":[["2a2343f1.20400c"]]},{"id":"6609fcb9.618cd4","type":"change","z":"d4010628.de4e88","name":"Control temporal","rules":[{"t":"set","p":"auto","pt":"global","to":"temporal","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":340,"wires":[["ecbc0cc6.5674e"]]},{"id":"587ccee7.8b573","type":"change","z":"d4010628.de4e88","name":"Set Sector","rules":[{"t":"set","p":"sector","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[[]]},{"id":"b087b7b5.d318e8","type":"change","z":"d4010628.de4e88","name":"motores on","rules":[{"t":"set","p":"motores","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"llave","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":420,"wires":[["e7972d49.1999a"]]},{"id":"e267b4ea.5e4078","type":"switch","z":"d4010628.de4e88","name":"","property":"motores","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":440,"wires":[["b087b7b5.d318e8"],["599f2a02.beb7a4"]]},{"id":"599f2a02.beb7a4","type":"change","z":"d4010628.de4e88","name":"motores off","rules":[{"t":"set","p":"motores","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"llave","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"auto","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"radar","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":460,"wires":[["e7972d49.1999a","e5014e0.3042bb"]]},{"id":"20a3a825.238b08","type":"inject","z":"8d66ddb9.1d7e","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":true,"onceDelay":"5","x":170,"y":140,"wires":[["fc19dc71.8c5cb"]]},{"id":"fc19dc71.8c5cb","type":"file in","z":"8d66ddb9.1d7e","name":"","filename":"/dev/shm/mjpeg/cam.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":140,"wires":[["2bb5828e.08f92e"]]},{"id":"f32a805f.2e0a5","type":"template","z":"8d66ddb9.1d7e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":760,"y":140,"wires":[["8270f296.cec0b"]]},{"id":"24fd4858.772a68","type":"comment","z":"8d66ddb9.1d7e","name":"Es necesario activar esto: https://elinux.org/RPi-Cam-Web-Interface","info":"","x":740,"y":220,"wires":[]},{"id":"37ab39c1.c18916","type":"comment","z":"8d66ddb9.1d7e","name":"Regula el FPS pero causa delay","info":"","x":230,"y":220,"wires":[]},{"id":"5a84da94.4ac064","type":"ui_template","z":"8d66ddb9.1d7e","group":"d8e7c0bd.e7edb","name":"Video","order":1,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1190,"y":140,"wires":[[]]},{"id":"2bb5828e.08f92e","type":"base64","z":"8d66ddb9.1d7e","name":"","action":"str","property":"payload","x":600,"y":140,"wires":[["f32a805f.2e0a5"]]},{"id":"78870613.f44628","type":"comment","z":"8d66ddb9.1d7e","name":"Habilitar y desplegar para empezar a correr la transmisión de video.","info":"","x":340,"y":60,"wires":[]},{"id":"542e8468.6fac7c","type":"file in","z":"8d66ddb9.1d7e","name":"","filename":"/home/pi/ventana.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":400,"y":280,"wires":[["2bb5828e.08f92e"]]},{"id":"bfad3a2.acb9dc8","type":"ui_switch","z":"8ba99e86.6869e","name":"","label":"Invertir derecha","tooltip":"","group":"192caa48.1b50d6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":220,"wires":[["2b475b8e.24ecd4"]]},{"id":"eeb8fdf2.860ab","type":"ui_switch","z":"8ba99e86.6869e","name":"","label":"Invertir izquierda","tooltip":"","group":"192caa48.1b50d6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":280,"wires":[["aa43c1ce.643ef"]]},{"id":"2b475b8e.24ecd4","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"invDer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[[]]},{"id":"aa43c1ce.643ef","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"invIzq","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[[]]},{"id":"63f56713.a60938","type":"switch","z":"4bb65ed0.821b1","name":"izquierda invertida?","property":"invIzq","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":340,"wires":[["ce85ac1a.5195b"],["3963a3ef.28a084"]]},{"id":"6403a4c4.cce28c","type":"switch","z":"4bb65ed0.821b1","name":"izquierda invertida?","property":"invIzq","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":400,"wires":[["3963a3ef.28a084"],["ce85ac1a.5195b"]]},{"id":"ab82ec5a.970cd","type":"switch","z":"4bb65ed0.821b1","name":"derecha invertida?","property":"invDer","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":460,"wires":[["d66fa798.05bba8"],["fd9ba81d.166b7"]]},{"id":"b897b495.593c08","type":"switch","z":"4bb65ed0.821b1","name":"derecha invertida?","property":"invDer","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":520,"wires":[["fd9ba81d.166b7"],["d66fa798.05bba8"]]},{"id":"ecbc0cc6.5674e","type":"switch","z":"d4010628.de4e88","name":"T or F","property":"llave","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":340,"wires":[["35eb30f.96ae1d"],["2a2343f1.20400c","81fbf784.a31988"]]},{"id":"e5014e0.3042bb","type":"link out","z":"d4010628.de4e88","name":"telefono-auto-off","links":["86d2629c.66825","96615a0f.028c88"],"x":635,"y":500,"wires":[]},{"id":"8270f296.cec0b","type":"delay","z":"8d66ddb9.1d7e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"15","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":980,"y":140,"wires":[["5a84da94.4ac064"]]},{"id":"84003748.ff8b68","type":"comment","z":"ffb2504d.e8d94","name":"Básicas ","info":"","x":90,"y":60,"wires":[]},{"id":"f2aa200a.65fa1","type":"link in","z":"8d66ddb9.1d7e","name":"TomarFoto_End","links":["bd357c04.b5aa9","2973513c.a07ffe"],"x":115,"y":280,"wires":[["542e8468.6fac7c"]]},{"id":"a93f2411.979908","type":"inject","z":"ffb2504d.e8d94","name":"Tomar foto","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["ded1773a.3c7e28"]]},{"id":"ded1773a.3c7e28","type":"exec","z":"ffb2504d.e8d94","command":"raspistill -rot 90 -o ventana.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":320,"wires":[["eea23732.aa1d78","2973513c.a07ffe"],["eea23732.aa1d78"],["eea23732.aa1d78"]]},{"id":"eea23732.aa1d78","type":"debug","z":"ffb2504d.e8d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":280,"wires":[]},{"id":"13a32448.8d556c","type":"exec","z":"ffb2504d.e8d94","command":"raspivid -rot 90 -o vid.h264","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":380,"wires":[[],[],[]]},{"id":"a734d6b4.c441a8","type":"inject","z":"ffb2504d.e8d94","name":"Tomar video","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["13a32448.8d556c"]]},{"id":"2973513c.a07ffe","type":"link out","z":"ffb2504d.e8d94","name":"TomarFoto_Begin","links":["f2aa200a.65fa1"],"x":595,"y":320,"wires":[]},{"id":"50462675.1bef78","type":"comment","z":"ffb2504d.e8d94","name":"Pruebas cámara","info":"","x":120,"y":260,"wires":[]},{"id":"b6c2b56b.5c7018","type":"link in","z":"8ba99e86.6869e","name":"velMax_End","links":["1a34ed99.aebe62","fb293f88.51f65"],"x":135,"y":100,"wires":[["ddf09d98.eef4d"]]},{"id":"e1f5abdd.c06ff8","type":"link in","z":"8ba99e86.6869e","name":"distMin_End","links":["fae2078b.3f6498","aad8b456.395ba8"],"x":135,"y":160,"wires":[["d01a9bf6.a88ef8"]]},{"id":"440c7e1f.82917","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"velMax","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":120,"wires":[["fb293f88.51f65"]]},{"id":"7b03d1c5.0153f","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"distMin","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":200,"y":180,"wires":[["aad8b456.395ba8"]]},{"id":"fb293f88.51f65","type":"link out","z":"7382962c.9ffe18","name":"velMax_Begin","links":["b6c2b56b.5c7018"],"x":315,"y":120,"wires":[]},{"id":"aad8b456.395ba8","type":"link out","z":"7382962c.9ffe18","name":"distMin_Begin","links":["e1f5abdd.c06ff8"],"x":315,"y":180,"wires":[]},{"id":"8780a987.66a8f8","type":"comment","z":"7382962c.9ffe18","name":"Parámetros de manejo","info":"","x":200,"y":60,"wires":[]},{"id":"5a70b07f.23577","type":"comment","z":"8ba99e86.6869e","name":"Parámetros de manejo","info":"","x":220,"y":40,"wires":[]},{"id":"1046be73.4e43e2","type":"link in","z":"8ba99e86.6869e","name":"ui-key_End","links":["30051913.1ce0c6","bc8fd3df.5cc2f"],"x":135,"y":500,"wires":[["9f933db5.5326b"]]},{"id":"42398857.3cf888","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"ssid","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"70","x":550,"y":120,"wires":[["ca282022.ab45c"]]},{"id":"992b732d.f13dd","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"psk","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"70","x":549,"y":177,"wires":[["bc8fd3df.5cc2f"]]},{"id":"ca282022.ab45c","type":"link out","z":"7382962c.9ffe18","name":"ui-ssid_Begin","links":["693874d0.aca13c"],"x":655,"y":120,"wires":[]},{"id":"bc8fd3df.5cc2f","type":"link out","z":"7382962c.9ffe18","name":"ui-key_Begin","links":["1046be73.4e43e2"],"x":655,"y":180,"wires":[]},{"id":"f45a8d06.06307","type":"comment","z":"7382962c.9ffe18","name":"Configuración WiFi","info":"","x":550,"y":60,"wires":[]},{"id":"55752cd9.ed1144","type":"comment","z":"8ba99e86.6869e","name":"Configuración WiFi","info":"","x":190,"y":400,"wires":[]},{"id":"ed0d89f4.d2cd58","type":"link in","z":"8ba99e86.6869e","name":"invDer_End","links":["b50f2514.6d1478","b93afcf9.10654"],"x":135,"y":220,"wires":[["bfad3a2.acb9dc8"]]},{"id":"e28ed15b.d9db8","type":"link in","z":"8ba99e86.6869e","name":"invIzq_End","links":["a25d4a14.838dc8","52acff66.5b4aa"],"x":135,"y":280,"wires":[["eeb8fdf2.860ab"]]},{"id":"9c1ec63c.8c3f28","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"invDer","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":240,"wires":[["b93afcf9.10654"]]},{"id":"5940885e.b4f188","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"invIzq","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":300,"wires":[["52acff66.5b4aa"]]},{"id":"b93afcf9.10654","type":"link out","z":"7382962c.9ffe18","name":"invDer_Begin","links":["ed0d89f4.d2cd58"],"x":315,"y":240,"wires":[]},{"id":"52acff66.5b4aa","type":"link out","z":"7382962c.9ffe18","name":"invIzq_Begin","links":["e28ed15b.d9db8"],"x":315,"y":300,"wires":[]},{"id":"28c4b1da.3e6aee","type":"comment","z":"8ba99e86.6869e","name":"Básicos","info":"","x":710,"y":40,"wires":[]},{"id":"6e2f24c4.2ab1dc","type":"ui_slider","z":"8ba99e86.6869e","name":"","label":"Volante","tooltip":"","group":"5276cd55.81f1dc","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"65","max":"30","step":"0.5","x":240,"y":340,"wires":[["649e552a.fb261c"]]},{"id":"649e552a.fb261c","type":"link out","z":"8ba99e86.6869e","name":"volante_Begin","links":["8275737b.b1bb8","cf9da5e2.4647d8"],"x":355,"y":340,"wires":[]},{"id":"9246d5f2.3d61d8","type":"link in","z":"8ba99e86.6869e","name":"volanteSlider_End","links":["254898f1.b04778","3f480f38.23bc8","4080c48.b1cca3c","cfed178f.881f58"],"x":135,"y":340,"wires":[["6e2f24c4.2ab1dc"]]},{"id":"5254ab1c.ecc624","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"Volante","host":"localhost","port":8888,"pin":"24","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":720,"y":80,"wires":[]},{"id":"535c0c5e.b2be54","type":"range","z":"4bb65ed0.821b1","minin":"0","maxin":"9","minout":"65","maxout":"30","action":"scale","round":true,"property":"payload","name":"map(0,9,65,30)","x":480,"y":120,"wires":[["5254ab1c.ecc624","3f480f38.23bc8"]]},{"id":"56f0d2b0.99fa1c","type":"switch","z":"4bb65ed0.821b1","name":"reversa?","property":"reversa","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":140,"wires":[["535c0c5e.b2be54"],["55f332a1.69e9ec"]]},{"id":"55f332a1.69e9ec","type":"range","z":"4bb65ed0.821b1","minin":"0","maxin":"9","minout":"30","maxout":"65","action":"scale","round":true,"property":"payload","name":"map(0,9,30,65)","x":480,"y":160,"wires":[["5254ab1c.ecc624","3f480f38.23bc8"]]},{"id":"6b647ad1.63d214","type":"link in","z":"4bb65ed0.821b1","name":"volante","links":["c6cb1dd0.e3731","4d5c9a93.8bb2b4"],"x":175,"y":140,"wires":[["56f0d2b0.99fa1c"]]},{"id":"cf9da5e2.4647d8","type":"link in","z":"4bb65ed0.821b1","name":"volante_End","links":["29ae0802.8247e8","649e552a.fb261c"],"x":395,"y":80,"wires":[["5254ab1c.ecc624"]]},{"id":"3f480f38.23bc8","type":"link out","z":"4bb65ed0.821b1","name":"volanteSlider_Begin","links":["9246d5f2.3d61d8"],"x":395,"y":200,"wires":[]},{"id":"c30ea420.eb0858","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":530,"y":300,"wires":[["4da61093.3aa0d"]]},{"id":"4da61093.3aa0d","type":"change","z":"7382962c.9ffe18","name":"","rules":[{"t":"set","p":"posRadar","pt":"global","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":300,"wires":[[]]},{"id":"a138e45f.7ef668","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":530,"y":340,"wires":[["c6bd4054.80c8b","12de5379.a9bb8d"]]},{"id":"c6bd4054.80c8b","type":"change","z":"7382962c.9ffe18","name":"","rules":[{"t":"set","p":"motores","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":360,"wires":[[]]},{"id":"34dbd4a7.87aadc","type":"inject","z":"7382962c.9ffe18","name":"centro","topic":"","payload":"42.5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"10","x":530,"y":380,"wires":[["191d25d7.de730a"]]},{"id":"191d25d7.de730a","type":"link out","z":"7382962c.9ffe18","name":"ServoPos_Begin","links":["d4e9751.f286c88","c7b13bb.e0c14c8"],"x":815,"y":380,"wires":[]},{"id":"b79d6d34.ff77d","type":"comment","z":"7382962c.9ffe18","name":"Radar","info":"","x":510,"y":240,"wires":[]},{"id":"12de5379.a9bb8d","type":"link out","z":"7382962c.9ffe18","name":"InitInFalse","links":["35f88c95.115744","4428ff55.69926"],"x":815,"y":340,"wires":[]},{"id":"5d2d5f2c.eb201","type":"link out","z":"8ba99e86.6869e","name":"distancia-radar","links":["d2457060.6ddad"],"x":1075,"y":420,"wires":[]},{"id":"fc3de872.289ea8","type":"ui_switch","z":"8ba99e86.6869e","d":true,"name":"","label":"Autonomo","tooltip":"","group":"d8e7c0bd.e7edb","order":12,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":420,"wires":[["889de853.918188","e9326b86.4470d8"]]},{"id":"889de853.918188","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"auto","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":420,"wires":[["5d2d5f2c.eb201","fc3de872.289ea8"]]},{"id":"42df326d.bb313c","type":"ui_switch","z":"8ba99e86.6869e","d":true,"name":"RadarSetup","label":"Radar","tooltip":"","group":"5276cd55.81f1dc","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":560,"wires":[["68fb9d46.0948f4","781f0ff4.3554c"]]},{"id":"68fb9d46.0948f4","type":"change","z":"8ba99e86.6869e","name":"","rules":[{"t":"set","p":"radar","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":560,"wires":[["42df326d.bb313c","4b882334.38568c"]]},{"id":"e9326b86.4470d8","type":"switch","z":"8ba99e86.6869e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":480,"wires":[["781f0ff4.3554c","68fb9d46.0948f4"]]},{"id":"781f0ff4.3554c","type":"switch","z":"8ba99e86.6869e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":480,"wires":[["889de853.918188","68fb9d46.0948f4"]]},{"id":"96615a0f.028c88","type":"link in","z":"8ba99e86.6869e","name":"radar-auto","links":["e5014e0.3042bb"],"x":795,"y":440,"wires":[["889de853.918188"]]},{"id":"4428ff55.69926","type":"link in","z":"8ba99e86.6869e","name":"InitinFalse","links":["d5e26c7.21ff49","12de5379.a9bb8d"],"x":555,"y":480,"wires":[["42df326d.bb313c","889de853.918188","4b882334.38568c"]]},{"id":"4b882334.38568c","type":"ui_switch","z":"8ba99e86.6869e","d":true,"name":"RadarBotones","label":"Radar","tooltip":"","group":"d8e7c0bd.e7edb","order":13,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":640,"y":520,"wires":[["781f0ff4.3554c"]]},{"id":"1928a517.e0223b","type":"comment","z":"8ba99e86.6869e","name":"Switches Radar (Explicación)","info":"El switch autónomo enciende el modo autónomo y el radar pero sólo apaga el modo, el switch de radar sólo controla el radar.","x":640,"y":360,"wires":[]},{"id":"d6292eec.338cf","type":"inject","z":"7382962c.9ffe18","name":"centro","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"10","x":170,"y":360,"wires":[["cfed178f.881f58"]]},{"id":"cfed178f.881f58","type":"link out","z":"7382962c.9ffe18","name":"volanteSlider_Begin","links":["9246d5f2.3d61d8"],"x":315,"y":360,"wires":[]},{"id":"6b9a530e.6dc95c","type":"ui_chart","z":"8ba99e86.6869e","name":"","group":"5276cd55.81f1dc","order":5,"width":0,"height":0,"label":"Radar","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":950,"y":300,"wires":[[]]},{"id":"936fe211.bbd95","type":"ui_gauge","z":"8ba99e86.6869e","name":"","group":"5276cd55.81f1dc","order":1,"width":0,"height":0,"gtype":"gage","title":"Distancia para colisión","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#b50000","#e6e600","#39ca38"],"seg1":"","seg2":"","x":980,"y":260,"wires":[]},{"id":"8e3a74ee.1138d8","type":"delay","z":"8ba99e86.6869e","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":790,"y":260,"wires":[["936fe211.bbd95"]]},{"id":"438096be.669cf8","type":"delay","z":"8ba99e86.6869e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":810,"y":300,"wires":[["6b9a530e.6dc95c"]]},{"id":"e9cd4649.05b858","type":"link in","z":"8ba99e86.6869e","name":"distRegistrada_End","links":["6e03b0e2.0c9b7"],"x":675,"y":260,"wires":[["8e3a74ee.1138d8"]]},{"id":"a1edb41.9c9e748","type":"link in","z":"8ba99e86.6869e","name":"radarDash_End","links":[],"x":675,"y":300,"wires":[["438096be.669cf8"]]},{"id":"f9de8190.3fb1d","type":"comment","z":"8ba99e86.6869e","name":"Gráficas Radar","info":"","x":740,"y":200,"wires":[]},{"id":"835d2735.8122c8","type":"pi-gpiod out","z":"4bb65ed0.821b1","name":"Servo Sensor","host":"localhost","port":8888,"pin":"10","set":"","level":"0","out":"ser","sermin":"500","sermax":"2500","x":700,"y":260,"wires":[]},{"id":"c7b13bb.e0c14c8","type":"link in","z":"4bb65ed0.821b1","name":"ServoPos_End","links":["191d25d7.de730a","45215f53.d9336"],"x":555,"y":260,"wires":[["835d2735.8122c8"]]},{"id":"f04448c6.7fe738","type":"comment","z":"4bb65ed0.821b1","name":"Servo Volante","info":"","x":210,"y":80,"wires":[]},{"id":"586c15f.af0e4ec","type":"comment","z":"4bb65ed0.821b1","name":"Servo Radar","info":"","x":210,"y":260,"wires":[]},{"id":"3c454da3.5db432","type":"comment","z":"4bb65ed0.821b1","name":"PWM Motores","info":"","x":210,"y":340,"wires":[]},{"id":"5e13e083.7b522","type":"ui_slider","z":"8ba99e86.6869e","name":"Sensor Slider","label":"Sensor","tooltip":"","group":"5276cd55.81f1dc","order":6,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"75","max":"20","step":"0.5","x":1000,"y":220,"wires":[[]]},{"id":"aaf0ec9e.0da5e","type":"link in","z":"8ba99e86.6869e","name":"ServoPosSlider_End","links":["6972e35d.c5f57c","45215f53.d9336"],"x":875,"y":220,"wires":[["5e13e083.7b522"]]},{"id":"2c6ccfe0.22004","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"Activar GPIOD","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":500,"wires":[["2b587b21.e56144"]]},{"id":"2b587b21.e56144","type":"exec","z":"7382962c.9ffe18","command":"sudo pigpiod","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":330,"y":500,"wires":[[],[],[]]},{"id":"b0a02239.42f0a","type":"ui_toast","z":"8ba99e86.6869e","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":870,"y":120,"wires":[["6c51169f.ab8078"]]},{"id":"b688e24e.bddce","type":"function","z":"ffb2504d.e8d94","name":"Formato wpa_supplicant","func":"var ssid = global.get('ssid');\nvar psk = global.get('psk');\n\n\nvar formato = 'ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev' \nformato += ' \\n ';\nformato += 'update_config=1'\nformato += ' \\n ';\nformato += 'country=MX'\nformato += ' \\n ';\n\nformato += 'network={'\nformato += ' \\n ';\nformato += 'ssid='\nformato += ssid;\nformato += ' \\n ';\nformato += 'psk=';\nformato += psk\nformato += ' \\n ';\nformato += 'key_mgmt=WPA-PSK'\nformato += ' \\n ';\nformato += \"}\";\n\nmsg = {payload:formato};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":120,"wires":[["f60fab89.29c778"]]},{"id":"f60fab89.29c778","type":"file","z":"ffb2504d.e8d94","name":"","filename":"/etc/wpa_supplicant/wpa_supplicant.conf","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1040,"y":120,"wires":[[]]},{"id":"d0fd050f.298bf8","type":"rpi-srf","z":"7de485ea.266e9c","name":"Frente","topic":"SRF","pulse":"0.06","pins":"21,22","x":90,"y":200,"wires":[["e9e43c02.6b4b","322e76e9.40303a"]]},{"id":"80f13a9d.45b068","type":"inject","z":"7de485ea.266e9c","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["2a086ba3.7a0544"]]},{"id":"7bab2a57.f1af84","type":"function","z":"7de485ea.266e9c","name":"barrido-sensor","func":"var pos = global.get('posRadar');\nvar subida = flow.get('subida');\nvar dist = flow.get('dist')\n//var posiciones = flow.get();\n\nif(subida === true)\n{\n  pos = pos +5;\n  if(pos >= 75)\n  {\n      flow.set('subida',false);\n      pos = 75;\n  }\n}\nelse\n{\n  pos = pos -5;\n  if(pos <= 20)\n  {\n      flow.set('subida',true);\n      pos = 20;\n  }\n}\n\n\nvar msg2 = {payload: pos}\n\nmsg = {topic: pos.toString()};\nmsg = {payload: dist};\nglobal.set('posRadar',pos);\nflow.set('posAtr',pos + 75);\n\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":480,"y":380,"wires":[[],["1dc5c5e0.a1ff5a","a65127c9.627888"]]},{"id":"2a086ba3.7a0544","type":"switch","z":"7de485ea.266e9c","name":"radar?","property":"radar","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":380,"wires":[["7bab2a57.f1af84"]]},{"id":"62a8c466.b4b1cc","type":"change","z":"7de485ea.266e9c","name":"","rules":[{"t":"set","p":"dist","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["8a661b86.02b9f8"]]},{"id":"8a661b86.02b9f8","type":"change","z":"7de485ea.266e9c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"posRadar","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[["9c943b7f.245128","f6772cf5.2182a","a02b716a.81dbc"]]},{"id":"e9e43c02.6b4b","type":"smooth","z":"7de485ea.266e9c","name":"","property":"payload","action":"mean","count":"3","round":"0","mult":"single","reduce":true,"x":260,"y":200,"wires":[["62a8c466.b4b1cc","7ff39283.f232bc"]]},{"id":"9c943b7f.245128","type":"function","z":"7de485ea.266e9c","name":"direccion-automatica","func":"var pos = msg.topic;\nvar dist = msg.payload;\nvar posiciones = global.get('posiciones')|| Array(10);\nvar max;\nvar sector;\nvar distMin = global.get('distMin')||100;  // Distancia minima\nvar distProm = global.get('distProm')||distMin;\n\npos = (pos/5)-4;\n \nposiciones[pos] = dist;\n\nmax = Math.max.apply(null,posiciones);\nsector = posiciones.indexOf(max);\n\nif((max < distMin) || (distProm < distMin))\n{\n    global.set('reversa',true);\n}\nelse\n{\n   global.set('reversa',false); \n}\n\nglobal.set('posiciones',posiciones);\nglobal.set('max',max);\nglobal.set('sector',sector);\n\nmsg = {payload:sector};\nvar msg2 = {payload:max};\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":820,"y":160,"wires":[["f19396af.ec6418"],[]]},{"id":"bebb62a7.2ed34","type":"smooth","z":"7de485ea.266e9c","name":"","property":"payload","action":"mean","count":"6","round":"0","mult":"single","reduce":true,"x":260,"y":240,"wires":[[]]},{"id":"7ff39283.f232bc","type":"change","z":"7de485ea.266e9c","name":"","rules":[{"t":"set","p":"distProm","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["b596914b.0cd55"]]},{"id":"eeec63ad.53f6d","type":"link out","z":"7de485ea.266e9c","name":"radar-volante","links":["3b540816.53f838","6ab354ed.4d350c","3c4070fc.4b028","d3e3d9ee.ced988","98f5c818.1d7418"],"x":1075,"y":160,"wires":[]},{"id":"f19396af.ec6418","type":"switch","z":"7de485ea.266e9c","name":"auto?","property":"auto","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":160,"wires":[["eeec63ad.53f6d"]]},{"id":"f6772cf5.2182a","type":"switch","z":"7de485ea.266e9c","name":"auto?","property":"auto","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":200,"wires":[["aa009ac6.e8ae98"]]},{"id":"3645d.05fc4ba4","type":"rpi-srf","z":"7de485ea.266e9c","name":"Atras","topic":"SRF","pulse":"0.06","pins":"31,29","x":130,"y":100,"wires":[["f89247e1.f95af8"]]},{"id":"869d12f.6cda4f","type":"change","z":"7de485ea.266e9c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"posAtr","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["322e76e9.40303a"]]},{"id":"f89247e1.f95af8","type":"smooth","z":"7de485ea.266e9c","name":"","property":"payload","action":"mean","count":"3","round":"0","mult":"single","reduce":true,"x":260,"y":100,"wires":[["869d12f.6cda4f"]]},{"id":"322e76e9.40303a","type":"debug","z":"7de485ea.266e9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":140,"wires":[]},{"id":"1dc5c5e0.a1ff5a","type":"delay","z":"7de485ea.266e9c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":650,"y":340,"wires":[["d6259949.2c6078"]]},{"id":"aa009ac6.e8ae98","type":"link out","z":"7de485ea.266e9c","name":"distancia-radar","links":["caf614a7.18d508"],"x":1075,"y":200,"wires":[]},{"id":"44d0cf6.7f3d83","type":"comment","z":"7de485ea.266e9c","name":"Lecturas de Ultrasónicos","info":"","x":190,"y":60,"wires":[]},{"id":"f0bc3c3b.f35ae","type":"comment","z":"7de485ea.266e9c","name":"Barrido del radar","info":"","x":160,"y":340,"wires":[]},{"id":"b596914b.0cd55","type":"link out","z":"7de485ea.266e9c","name":"distRegistrada_Begin","links":["a65ae476.129c68","84a92c1c.8dd66"],"x":615,"y":240,"wires":[]},{"id":"a02b716a.81dbc","type":"link out","z":"7de485ea.266e9c","name":"radarDash_Begin","links":[],"x":735,"y":240,"wires":[]},{"id":"d6259949.2c6078","type":"link out","z":"7de485ea.266e9c","name":"ServoPosSlider_Begin","links":["99405ba8.c2ecd8","15aa646e.54a43c"],"x":755,"y":340,"wires":[]},{"id":"a65127c9.627888","type":"link out","z":"7de485ea.266e9c","name":"ServoPos_Begin","links":["d4e9751.f286c88","99405ba8.c2ecd8","820bc8bf.cfe9b8","15aa646e.54a43c"],"x":755,"y":400,"wires":[]},{"id":"f8cc30b4.8312c","type":"switch","z":"a73a92ed.4364a","name":"GoogleNotifyDestination","property":"destination","propertyType":"msg","rules":[{"t":"eq","v":"living","vt":"str"},{"t":"eq","v":"bureau","vt":"str"},{"t":"eq","v":"all","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":260,"wires":[["5282d9e7.ddccb8"],["4b83f7c4.4f1348"],["5282d9e7.ddccb8","4b83f7c4.4f1348"]],"outputLabels":["Google Home","Google Home mini",""]},{"id":"5282d9e7.ddccb8","type":"googlehome-notifier-offline","z":"a73a92ed.4364a","server":"2b638ce9.4890d4","name":"Google Home","x":800,"y":180,"wires":[]},{"id":"4b83f7c4.4f1348","type":"googlehome-notifier-offline","z":"a73a92ed.4364a","server":"5aa25857.668758","name":"Google Home Mini","x":790,"y":320,"wires":[]},{"id":"d192dd91.566b6","type":"change","z":"a73a92ed.4364a","name":"","rules":[{"t":"set","p":"cacheFolder","pt":"msg","to":"d:\\tmp\\GHCache","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":260,"wires":[["f8cc30b4.8312c"]]},{"id":"7b1293c2.8cd6bc","type":"inject","z":"5cde758b.725c2c","name":"","topic":"","payload":"ola! soey Vahpri","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["68bac185.0cfa5"]]},{"id":"68bac185.0cfa5","type":"change","z":"5cde758b.725c2c","name":"","rules":[{"t":"set","p":"emitVolume","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[["d30a0f81.719e"]]},{"id":"d30a0f81.719e","type":"googlehome-notifier-offline","z":"5cde758b.725c2c","server":"ba8fdb96.e1dfd8","name":"","x":680,"y":100,"wires":[]},{"id":"c06026f7.e10a08","type":"comment","z":"5cde758b.725c2c","name":"Manda cadena de texto a Google Home","info":"","x":210,"y":60,"wires":[]},{"id":"f3c7f9c1.67ea68","type":"comment","z":"5cde758b.725c2c","name":"Configurar volumen","info":"","x":430,"y":140,"wires":[]},{"id":"e819a3b7.94b13","type":"ui_text_input","z":"5cde758b.725c2c","name":"","label":"","tooltip":"Dime qué decir","group":"d8e7c0bd.e7edb","order":14,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":120,"y":160,"wires":[["68bac185.0cfa5"]]},{"id":"be65b74b.b95c18","type":"link out","z":"9f968f9.f74b07","name":"ToTelegram","links":["be803135.84251"],"x":1055,"y":220,"wires":[]},{"id":"a6cb77e1.c7c498","type":"function","z":"9f968f9.f74b07","name":"Formato ui","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '/ui';\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":200,"wires":[["be65b74b.b95c18"]]},{"id":"e72d3fff.20b91","type":"switch","z":"9f968f9.f74b07","name":"filtro \"null\"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":160,"wires":[["2e71f839.8fcd98"],["3c6a56b6.87071a"]]},{"id":"d503c129.f6503","type":"function","z":"9f968f9.f74b07","name":"Formato editor","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":160,"wires":[["be65b74b.b95c18"]]},{"id":"2e71f839.8fcd98","type":"switch","z":"9f968f9.f74b07","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"editor","vt":"str"},{"t":"eq","v":"ui","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":160,"wires":[["d503c129.f6503"],["a6cb77e1.c7c498"]]},{"id":"48fa2567.c7c95c","type":"link in","z":"9f968f9.f74b07","name":"toNgrok","links":["ca898d03.01052"],"x":115,"y":220,"wires":[["7e978ad1.0ff9a4"]]},{"id":"3c6a56b6.87071a","type":"change","z":"9f968f9.f74b07","name":"Off noti","rules":[{"t":"set","p":"payload","pt":"msg","to":"Acceso ngrok apagado.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":240,"wires":[["be65b74b.b95c18"]]},{"id":"d438ff41.7d34a","type":"ngrok","z":"9f968f9.f74b07","port":"1880","creds":"264d958d.9a7f4a","region":"us","subdomain":"","name":"ngrok:1880","auth":"","x":370,"y":180,"wires":[["e72d3fff.20b91"]]},{"id":"c2e83655.b2ef38","type":"ngrok","z":"9f968f9.f74b07","port":"80","creds":"264d958d.9a7f4a","region":"us","subdomain":"","name":"ngrok:5000","auth":"","x":370,"y":260,"wires":[["66a519b6.4f5108"]]},{"id":"7e978ad1.0ff9a4","type":"switch","z":"9f968f9.f74b07","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ui","vt":"str"},{"t":"eq","v":"editor","vt":"str"},{"t":"eq","v":"camara","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":220,"wires":[["d438ff41.7d34a"],["d438ff41.7d34a"],["c2e83655.b2ef38"]]},{"id":"66a519b6.4f5108","type":"switch","z":"9f968f9.f74b07","name":"filtro \"null\"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":280,"wires":[["3c6a56b6.87071a"],["4c00d6a9.1892b8"]]},{"id":"4c00d6a9.1892b8","type":"function","z":"9f968f9.f74b07","name":"Formato Octoprint","func":"var text = msg.payload;\nmsg.payload='Tu nuevo acceso remoto ngrok es: '+ text + '';\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":280,"wires":[["be65b74b.b95c18"]]},{"id":"8763e55c.051a18","type":"comment","z":"9f968f9.f74b07","name":"Añade el \"/xxx\" si aplica","info":"","x":880,"y":120,"wires":[]},{"id":"b97604e4.712ef8","type":"debug","z":"d8b6dd1b.4b1f1","name":"Telegram","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":200,"wires":[]},{"id":"9d577546.e7c038","type":"function","z":"d8b6dd1b.4b1f1","name":"Formato para Telegram","func":"var text = msg.payload;\nmsg.payload='{\\n\"text\": \"'+ text + '\"\\n}'\n//',\\n\"parse_mode\": \"Markdown\"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["fb07b6bb.0e8028","b97604e4.712ef8"]]},{"id":"be803135.84251","type":"link in","z":"d8b6dd1b.4b1f1","name":"toTelegram","links":["2ee2f44.af4b60c","d6c75b00.d39148","592da6a.2e70a58","9d675fa0.f90c","ec254b84.b17bc8","a3fe156e.ad71d8","73af0803.c282c8","2c8ae8da.bf31f8","dc5307d8.6fd2e8","4905f533.8fc32c","be65b74b.b95c18"],"x":915,"y":220,"wires":[["9d577546.e7c038"]]},{"id":"ac0d6720.0857e8","type":"change","z":"d8b6dd1b.4b1f1","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[["ca898d03.01052"]]},{"id":"2fa4427b.22962e","type":"change","z":"d8b6dd1b.4b1f1","name":"ui","rules":[{"t":"set","p":"topic","pt":"msg","to":"ui","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["ac0d6720.0857e8"]]},{"id":"64482dd0.5e4ab4","type":"change","z":"d8b6dd1b.4b1f1","name":"editor","rules":[{"t":"set","p":"topic","pt":"msg","to":"editor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["ac0d6720.0857e8"]]},{"id":"ca898d03.01052","type":"link out","z":"d8b6dd1b.4b1f1","name":"ToNgrok","links":["7c697255.b465fc","1e91adea.262222","48fa2567.c7c95c"],"x":775,"y":220,"wires":[]},{"id":"4ddaefc6.e855c","type":"change","z":"d8b6dd1b.4b1f1","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["ca898d03.01052"]]},{"id":"87cfbc01.b16b3","type":"change","z":"d8b6dd1b.4b1f1","name":"editor","rules":[{"t":"set","p":"topic","pt":"msg","to":"editor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["4ddaefc6.e855c"]]},{"id":"63e53f54.7c2e3","type":"change","z":"d8b6dd1b.4b1f1","name":"octoprint","rules":[{"t":"set","p":"topic","pt":"msg","to":"camara","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[["ac0d6720.0857e8"]]},{"id":"35f315a4.7dd6da","type":"telegrambot-command","z":"d8b6dd1b.4b1f1","name":"/ngrok","bot":"71cdffda.ae315","command":"/ngrok","commandType":"str","commandCase":false,"x":170,"y":200,"wires":[["9370338b.38f4c"]]},{"id":"9370338b.38f4c","type":"telegrambot-switch","z":"d8b6dd1b.4b1f1","name":"","bot":"71cdffda.ae315","chatId":"","question":"ui or editor?","answers":["control","editor","camara","off-link"],"outputs":5,"autoAnswerCallback":true,"timeoutValue":"1","timeoutUnits":"min","x":320,"y":200,"wires":[["2fa4427b.22962e"],["64482dd0.5e4ab4"],["63e53f54.7c2e3"],["87cfbc01.b16b3"],["c7c27b5f.a3d258"]]},{"id":"fb07b6bb.0e8028","type":"telegrambot-payload","z":"d8b6dd1b.4b1f1","name":"Send","bot":"71cdffda.ae315","chatId":"","sendMethod":"sendMessage","payload":"","x":1270,"y":320,"wires":[[]]},{"id":"c7c27b5f.a3d258","type":"change","z":"d8b6dd1b.4b1f1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"No recibí respuesta","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["fb07b6bb.0e8028"]]},{"id":"44d096e6.7ae498","type":"inject","z":"7382962c.9ffe18","name":"","topic":"","payload":"Activar Server camara","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":580,"wires":[["cedc8c0f.7807a"]]},{"id":"cedc8c0f.7807a","type":"exec","z":"7382962c.9ffe18","command":"./RPi_Cam_Web_Interface/start.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":580,"wires":[[],[],[]]}]